<!DOCTYPE html>
<html>
<head>
  
    <title>Default Layout Lab 05</title>


</head>
<body>
  
    @Html.Partial("Header")
    <br />
        @RenderBody()
    <br />
    <div>footer</div>
</body>
</html>
