@model Lab06.Models.Book



<environment names="Development">
    <form asp-controller="Home" asp-action="Edit2" method="post">
        <!-- Input and Submit elements -->

        <label asp-for="Title"></label>   <input asp-for="Title" />
        <br />
        <label asp-for="Author"></label>   <input asp-for="Author" />
        <br />
        <label asp-for="Publisher"></label>   <input asp-for="Publisher" />

        <input type="hidden" asp-for="BookID" />
        <input type="submit" class="myclassname" />
    </form>
</environment>

<environment names="Production">
   not allowed in Production
</environment>



