@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>

</head>
<body>
    <h1>This is different</h1>
    <div>
        @ViewBag.Book1.BookId
    </div>
    <div>
        @ViewBag.Book2.Title
    </div>
</body>
</html>
